<div class="container">
  <h3 class="text-center mt-3">Dashboard</h3>

  <div class="row pt-3">
    <% @all_active_items.each do |menu_item| %>
    <div class="col-4 p-2">
      <div class="card border-primary p-0">
        <div class="card-header">
          <%= menu_item.name %>
        </div>
        <%= form_with(url: "/add_item_to_order", method: "POST") do |f| %>
        <div class="card-body center-block align-items-center justify-content-center text-center">
          <%= image_tag(menu_item.image, :alt => "Food Image", :style => "min-width: 15rem; max-width: 15rem; min-height: 15rem; max-height: 15rem")%>
          <div class="row mt-2 justify-content-center">
            <h4 class="card-title col-6">₹<%= menu_item.price %></h4>
          </div>
          <div class="row">
            <p class="card-text col-12 mb-2"><%= menu_item.description %></p>
          </div>

          <div style="display: flex;" class="justify-content-center">
            <%= f.hidden_field :menu_id, :value => menu_item.menu_id%>
            <%= f.hidden_field :menu_item_id, :value => menu_item.id%>
            <%= f.number_field :quantity, class: "form-control col-6 mr-2", placeholder: "Quantity" %>
            <%= button_tag onclick: "this.form.submit()", type: :button, class: "btn btn-warning form-control" do %>
              Add
            <%end%>
          </div>

        </div>
        <% end %>
      </div>
    </div>
    <%end%>
  </div>
  <div class="mb-5">
    <%= render partial: "show_cart"%>
    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#exampleModal">
      My cart
    </button>
  </div>

</div>
