<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Menu Id</th>
        <th scope="col">Menu Name</th>
        <th scope="col">Is Active</th>
        <th scope="col">Action</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <th scope="col">
          <%= menu.id do %>
          <%end%>
        </th>
        <th scope="col">
          <%= menu.name do %>
          <%end%>
        </th>
        <th scope="col">
        <div class="custom-control custom-switch">
          <%= form_with(url: "menus/#{menu.id}", method: "PATCH") do %>
            <%= check_box_tag('is_active', nil, menu.is_active ? true : false, name: "is_active", onclick: "this.form.submit()") do %>
            <% end%>
          <% end %>
        </div>
        </th>
        <th scope="col">
          <%= link_to "Configure", "/menus/#{menu.id}", class: "btn btn-primary"%>
        </th>
        <th scope="col">
        <%= form_with(url: "menus/#{menu.id}", method: "DELETE") do %>
            <%= button_tag onclick: "this.form.submit()", type: :button, class: "btn btn-danger" do %>
              Delete
            <% end%>
          <% end %>
        </th>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
