<div class="container">
<h3 class="text-center mt-3"><%= "Item: #{@menu_item.name}" %></h3>

<div class="card border-primary mb-3 mt-5 p-0">

  <div class="card-header">
    <%= "Edit Menu Item: #{@menu_item.name}" %>
  </div>
  <div class="card-body">


<%= form_with(url: "/menu_items/#{@menu_item.id}", method: "PATCH") do |form| %>

  <div class="row">

  <div class="form-group col-md-6">
    <label>Menu Item Id</label>
    <%= form.text_field :menu_id, class: "form-control", placeholder: "Enter Menu Item id", value: @menu_item.id, readonly: "" %>
    <small class="form-text text-muted">Menu Item Id</small>
  </div>

    <div class="form-group col-md-6">
      <label>Item Name</label>
      <%= form.text_field :menu_item_name, class: "form-control", placeholder: "Edit Item Name", value: @menu_item.name %>
      <small class="form-text text-muted">Name of the item will be displayed on main page</small>
    </div>

    <div class="form-group col-md-6">
      <label>Item Price</label>
      <%= form.number_field :menu_item_price, class: "form-control", placeholder: "Edit Item Price", value: @menu_item.price %>
      <small class="form-text text-muted">Price of the item will be displayed on main page</small>
    </div>

    <div class="form-group col-md-6">
      <label>Item description</label>
      <%= form.text_field :menu_item_description, class: "form-control", placeholder: "Enter Item description", value: @menu_item.description %>
      <small class="form-text text-muted">Description of the item will be displayed on main page</small>
    </div>

    <div class="form-group col-md-6">
      <label>Item Image Url</label>
      <%= form.text_field :menu_item_image, class: "form-control", placeholder: "Enter Image url", value: @menu_item.image %>
      <small class="form-text text-muted">Item image url (optional)</small>
    </div>

  </div>
    <div class="form-group" style="max-width: 20rem; margin: 0 auto;">
      <%= form.submit "Submit", class: "btn btn-primary form-control" %>
    </div>

<%end%>


  </div>
</div>
</div>
