<%= render partial: "add_menu_item" %>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Item Id</th>
        <th scope="col">Item Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Item Description</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <th scope="col">
          <%= menu_item.id do %>
          <%end%>
        </th>
        <th scope="col">
          <%= menu_item.name do %>
          <%end%>
        </th>
        <th scope="col">
          <%= menu_item.price do %>
          <%end%>
        </th>
        <th scope="col">
          <%= menu_item.description do %>
          <%end%>
        </th>
        <th scope="col">
        <%= form_with(url: "/menu_items/#{menu_item.id}", method: "DELETE") do |f| %>
            <%= f.hidden_field :menu_id, :value => @menu.id%>
            <%= button_tag onclick: "this.form.submit()", type: :button, class: "btn btn-danger" do %>
              Delete
            <% end%>
          <% end %>
        </th>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
