<div class="card border-primary mb-3 container mt-5 p-0" style="max-width:40rem">
  <div class="card-header">Owner Registration</div>
  <div class="card-body">


    <%= form_with(url: register_owner_path, method: "post") do |form| %>
      <fieldset>
        <legend>Sign Up</legend>
        <div class="form-group">
          <label for="exampleInputEmail1">Owner's Name</label>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter full name" %>
          <small id="nameHelp" class="form-text text-muted">We will use this name to greet you in future !</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Owner's Email address</label>
          <%= form.email_field :email, class: "form-control", placeholder: "Enter email" %>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Owner's Password</label>
          <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Secret Key</label>
          <%= form.password_field :secret, class: "form-control", placeholder: "Enter secret owner key here" %>
        </div>
        <div class="form-group">
          <%= form.submit "Sign up", class: "btn btn-primary form-control" %>
        </div>
    <%end%>
    <div>
      <p>Go to home? <strong><%= link_to "Home", "/", method: "get"%></strong>.</p>
    </div>
  </div>
</div>
