<div class="container">
  <h4 class="text-center">Report</h4>
  <%= render partial: "query_menu" %>
  <div class="row">
    <%@all_orders.each do |order| %>
    <div class="p-2 col-4">
      <div class="card border-primary p-0">
        <div class="card-header">Order ID: <%= order.id %></div>
          <div class="card-body">
            <h4 class="card-title">Order Status: <%= order.status %></h4>
            <p class="card-text">
                <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    User ID
                    <span class="badge badge-primary badge-pill"><%= order.user_id %></span>
                  </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Price
                    <span class="badge badge-primary badge-pill">₹ <%= order.total_price %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Order Type
                    <span class="badge badge-primary badge-pill"><%= order.order_type %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Order time
                    <span class="badge badge-primary badge-pill"><%= order.date.to_formatted_s(:long) %></span>
                  </li>
                  <% if order.delivered_at!=nil %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Delivery Time
                      <span class="badge badge-primary badge-pill"><%= order.delivered_at.to_formatted_s(:long) %></span>
                    </li>
                  <% else %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Delivery Time
                      <span class="badge badge-primary badge-pill">Not yet delivered</span>
                    </li>
                  <%end%>
                </ul>
                <div class="text-center mt-2">
                  <%= link_to "View Details", "/report/order/#{order.id}", class: "btn btn-primary" %>
                </div>
            </p>
          </div>
      </div>
    </div>
    <%end%>
  </div>
</div>
