<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="jquery.js" type="text/javascript"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if @current_user %>
          <%= render partial: "layouts/navbar"%>
      <%end%>

      <% if flash[:error] %>
        <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= flash[:error] %></strong>
        </div>
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>
